.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title, .form-add-update {
    filter: none;
    opacity: 1;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.title, .input-label {
    font-family: 'Amatic SC', cursive;
}

.form-add-update {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin: 0 auto 100px auto;
    min-height: 600px;
    padding: 20px;
    width: 80%;
}

.input-img-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.modal-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-img img {
    margin: auto 30px;
    border-radius: 20px; 
}
.input-label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    border: none;
    background-color: unset;
    border-bottom: 1px solid black;
    font-size: 20px;
}

input:first-of-type {
    border: none;
}

.select {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 14px;
}

.select:focus {
    border: none;
    outline: none;
}

.select:focus, .select:hover {
    cursor: pointer;
}


.sizes-list {
    display: flex;
    width: 100%;
}

.sizes-list .container-size {
    margin: auto;
}

.container-size input {
    cursor: pointer;
    margin-right: 10px;
    transform: scale(1.5);
}
.container-size label {
    font-size: 20px;
}


button[type="submit"] {
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    margin: 20px 0;
    padding: 15px;
}

.btn-enable {
    background: linear-gradient(90deg, rgba(255,87,127,1) 7%, rgba(230,112,52,1) 100%);
    cursor: pointer;
    
}

.btn-enable:hover {
    background: linear-gradient(90deg, rgb(245, 72, 112) 7%, rgb(255, 115, 45) 100%);
}

.btn-disabled {
    background-color: #ccc !important;
}
