<button  (click)="showMenu()">
    <span *ngIf="(show === 'none'); else elseTemplate">
        CERRAR 
    </span>
    
    <ng-template class="btn" #elseTemplate>
        FILTROS
    </ng-template>
</button>


<ul [class]="(show === 'none') ? 'container-showed' : 'container-hidden'" class="filter-options">
    <div>
        <p class="title-options">Marca</p>
        <hr class="line">
       
        <ul>
            <li *ngFor="let o of filterMenu.brand; let i = index" class="option">
                <input type="checkbox" [name]="'option'+i" [value]="o"><label [for]="'option'+i"> {{o}}</label>
            </li>
        </ul>
    </div>

    <div>
        <p class="title-options">Tipo de prenda</p>
        <hr class="line">
        
        <ul>
            <li *ngFor="let o of filterMenu.type; let i = index" class="option">
                <input type="checkbox" [name]="'option'+i" [value]="o"><label [for]="'option'+i"> {{o}}</label>
            </li>
        </ul>
    </div>
    
    <div>
        <p class="title-options">Tamaño</p>
        <hr class="line">

        <ul class="filter-sizes">
            <li *ngFor="let o of filterMenu.sizes; let i = index" class="option-sizes">
                <input type="checkbox" [name]="'option'+i" [value]="o"><label [for]="'option'+i"> {{o}}</label>
            </li>
        </ul>
    </div>
</ul>

