.section-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.bg-img {
    display: block;
    filter: blur(5px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.section-container h1 {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    margin: 20px auto;
    text-align: center;
    z-index: 100;
}

.form-container {
    margin: auto;
    height: 50%;
    width: 50%;
    z-index: 100;
}


@media screen and (max-width: 500px) {
    .section-container h1 {
        font-size: 28px;
    }
    
    .form-container {
        margin: auto;
        height: 80%;
        width: 80%;
        z-index: 100;
    }    
}