.nav {
    display: flex;
}

.logo {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
}

.logo-title, .social {
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-form {
    margin: auto 0 auto 10px;
    display: flex;
    width: 60%;   
}

.input-text, .input-submit {
    display: block;
    border: none;
    padding: 20px;
}

.input-text {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}

.input-submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #ccc;
    margin-right: 20px;
    padding: 20px;
}

.social {
    font-size: 28px;
}

@media screen and (max-width: 700px) {
    .nav {
        font-size: 12px;
    }

    .logo-title h1 {
        font-size: 18px;
    }
    
    .search-form {
        margin: 20px auto;
    }

    .social {
        font-size: 16px;
    }

}

@media screen and (max-width: 560px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo {
        order: 1;
        width: 50%;
    }
    .search-form {
        order: 3;
    }
    .social {
        order: 2;
        width: 50%;
    }
}
