<article class="container">
    <div class="col_h">
        Imagen
    </div>
    <div class="col_h">
        Nombre
    </div>
    <div class="col_h">
        Marca
    </div>
    <div class="col_h">
        Tipo
    </div>
    <div class="col_h">
        Genero
    </div>
    <div class="col_h">
        Talles
    </div>
    <div class="col_h">
        Precio
    </div>
    <div class="col_h">
        Estado
    </div>
    <div class="col_h">
        Acciones
    </div>
 

    <div class="tbody" *ngFor="let c of clothesDB">
        <div class="col">
            <img [src]="c.img.path">
        </div>
        <div class="col">{{c.name}}</div>
        <div class="col">{{c.brand.name}}</div>
        <div class="col">{{c.type.type}}</div>
        <div class="col">{{c.gender}}</div>
        <ul class="col sizes">
            <li *ngFor="let s of c.sizes; let i = index" [class]="s.avaible ? 'avaible' : '' "> 
                Talle: {{s.size.size}} 
                <br>
                Stock: {{s.stock}} 
            </li>
        </ul>
        <div class="col">{{ c.price | currency:'AR$' }}</div>
        <div class="col">{{ c.active ? 'Prenda disponible' : 'Prenda desactivada' }}</div>
        <div class="col">
            <i class="far fa-edit" (click)="updateClothes(c)"></i>  
            <i [class]="c.active ? 'far fa-trash-alt' : 'far fa-check-circle'" (click)=" c.active ? deleteClothes(c) : activateClothes(c)"></i>
        </div>
    </div>

</article>


<app-sidebar class="sidebar-mobile" 
(brandsRef)="brandsRef = $event;" 
(typesRef)="typesRef = $event;" 
(cancelFilterEvent)="cancelFilter()"
(onFilterEvent)="filterOnClick()"
></app-sidebar>