.container {
    margin: auto;
    width: 90%;
    font-size: 14px;
    border: 1px solid gray;
}

.container, .tbody {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr) 3fr repeat(3, 0.5fr);
    grid-auto-rows: 200px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.col_h {
    text-align: center;
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
    margin: 0 auto;
}

.col img {
    border-radius: 2px;
    height: 100px;
    padding: 5px;
    width: 100px;
}

.tbody {
    text-align: center;
    border-top: 1px solid #ccc;
    grid-column: 1/-1;
    width: 100%;
}

.col {
    font-family: Roboto, sans-serif;
}

.tbody:last-child {
    border-bottom: 1px solid #ccc;    
}

.sizes {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.sizes li {
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid salmon;
    margin: auto 10px;
}

.sizes .avaible {
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
}

.col i {
    font-size: 14px;
    margin: 0 20px;
    cursor: pointer;
}