<article class="container">
    <div class="form-container">
        <p class="title">{{titleMode}}</p>
        
        <form class="form-add-update" [formGroup]="formClothes" (ngSubmit)="addClothes()">
            <label class="input-label" for="img">Imagen: </label><input name="img" type="file" formControlName="img">
            <label class="input-label" for="name">Nombre: </label><input name="name" type="text" formControlName="name">
            <label class="input-label" for="brand">Marca: </label><input name="brand" type="text" formControlName="brand">
            <label class="input-label" for="type">Tipo: </label><input name="type" type="text" formControlName="type">
            <label class="input-label" for="stock">Stock: </label><input name="stock" type="text" formControlName="stock">
            <label class="input-label" for="price">Precio: </label><input name="price" type="text" formControlName="price">
            <label class="input-label" for="sex">Sexo: </label>
            <select class="select-sex" name="sex" id="" formControlName="sex" >
                <option value="null"></option>
                <option value="man">Hombre</option>
                <option value="woman">Mujer</option>
            </select>
            <label class="input-label" for="sizes">Seleccione los talles disponibles:</label>
            <ul class="sizes-list">
                <div class="container-size" *ngFor="let s of sizesList">
                    <input type="checkbox" [value]="s.size" name="sizes" (change)="onCheckChange($event)"><label [for]="'sizes'+1">{{s.size}}</label>
                </div>
            </ul>
            <button type="submit">Agregar prenda</button>
        </form>
    </div>

    <!-- a la hora de agregar una prenda hay q verificar que no exista todavia -->
</article>