<main class="container">
    <article class="card">
        <p class="title">Datos del Administrador:</p>
        <form class="body" [formGroup]="adminForm" (ngSubmit)="editMode ? updateAdmin() : addNewAdmin()">
            <div class="field-container">
                <label class="input-label" for="email">Email: </label><input name="email" type="email" formControlName="email">
            </div>
            
            <div class="field-container">
                <label class="input-label" for="password"><span>Password:</span><a><i class="far fa-eye" (click)="seePassword()"></i></a></label>
                <input name="password" class="password" [type]="type" formControlName="password">
            </div>

            <input type="submit" [value]="editMode ? 'Editar' : 'Agregar nuevo administrador' ">
        </form>
    </article>
    
    <article class="admin-list">
        <p class="title">Lista de administradores:</p>
        <div class="list">
            <div class="col col-title">Email</div>
            <div class="col col-title">Contraseña</div>
            <div class="col col-title">Opciones</div>   
            
            <div class="tbody" *ngFor="let a of admins; let admin">
                <div class="col">{{a.email}}</div>
                <div class="col">********</div>
                <div class="col col-options">
                    <i class="far fa-edit" (click)="editAdmin(admin)"></i>
                    <i [class]="admin.active ? 'far fa-trash-alt' : 'far fa-check-circle'" 
                       (click)="admin.active ? deleteOrDeactivateAdmin(admin) : activateAdmin(admin)">
                    </i>
                </div>
            </div>
        </div>
    </article>
</main>