<aside class="sidebar">    
    
    <nav class="nav">
        <div class="logo">
            <div class="logo-title">
                <h2>Tipo de producto</h2>
            </div>
        </div>    

        <!-- cargar menu  -->

        <ul class="filter-options-list">
            <li *ngFor="let o of menu; let i = index;" class="option">
                <input type="checkbox" [name]="'name'+i" class="check"><label [for]="'name'+i" class="label">{{o}}</label>
            </li>
        </ul>
    </nav>
</aside>