<article class="container">

    <aside class="sidebar">
        <app-filter [show]="''" class="filter" style="transition: all 500ms;"></app-filter>
    </aside>

    <ul class="items-container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </ul>
</article>


    