<article class="container">
    
    <button class="nav-mobile-activate-menu">
        FILTROS
    </button>
    
    <aside class="sidebar">
        
        <app-sidebar></app-sidebar>

        <hr class="v">
    </aside>

    <ul class="items-container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </ul>
</article>


    