.container-main-c {
    height: 100%;
    display: grid;
    grid-template-rows: minmax(650px,90%) minmax(400px,10%);
    grid-template-areas: 
        "main main main"
        "social social social"
    ;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: main;
}

.main-item {
    border: 1px solid black;
    height: 70%;
    width: 40%;   
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    display: flex;
    transition: all 500ms;
}

.main-item:hover {
    cursor: pointer;
    transition: all 500ms;
    transform: scale(1.1);
    -webkit-box-shadow: 1px -6px 23px 3px rgba(0,0,0,0.28); 
    box-shadow: 1px -6px 23px 3px rgba(0,0,0,0.28);
    text-decoration: underline 2px wheat;
}

.main-item:first-child {
    background-image: url('https://res.cloudinary.com/did5yztix/image/upload/c_scale,h_854/v1616187905/1_uvzw95.png');
    background-size: cover;
    background-position: center;
}

.main-item:last-child {
    background-image: url('https://res.cloudinary.com/did5yztix/image/upload/v1616187953/2_qzxk3g.jpg');
    background-size: cover;
    background-position: start;
}

.main-item-link {
    align-items: center;
    color: rgb(77, 72, 64);
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    font-weight: bolder; 
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.social-content {
    background: linear-gradient(90deg, rgba(255,87,127,1) 7%, rgba(230,112,52,1) 100%);
    display: flex;
    grid-area: social;
}

.social {
    margin: 0 auto 0 auto;
    width: 40%;
    height: 100%;
    color: wheat;
    display: flex;
    font-size: 18px;
    font-family: 'Amatic SC', cursive;
    flex-direction: column;
    text-decoration: underline 1px wheat;
    align-items: center;
    justify-content: center;
}

.social-items {
    margin-top: 30px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.social-item i{
    color: wheat;
    transition: transform 300ms;
}

.social-item i:hover {
    transition: transform 300ms;
    transform: scale(1.3);
}

.social-map {
    border-radius: 10px;
    display: block;
    height: 90%;
    margin: auto;
    width: 40%;
}

@media screen and (max-width: 1100px) {
    .container-main-c {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 600px 300px;
        grid-template-areas: 
        "main main"
        "social social";
        grid-auto-flow: row;
    }

    .main-container {
        grid-area: main;
        justify-content: space-evenly;
        align-items: center;
    }

    .main-item:first-child {
        background-position: center;
    }

    .main-item {
        height: 50%;
        width: 40%;
    }

    .social-content {
        grid-area: social;
    }
    .social, .main-item-link {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .container-main-c {
        grid-template-columns: 1fr;
        grid-template-rows: 600px 400px;
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "main"
        "social";
        grid-auto-flow: row;
    }
    
    .main-container { 
        flex-direction: column;
        width: 100%;
    }
    .main-item {
        width: 80%;
        margin: 20px auto;
    }

   .social-content {
       flex-direction: column;
   }
   .social {
       width: 90%;
       justify-content: space-evenly;

   }
   .social-items {
       margin: 20px auto;
   }

   .social-content .social > h3 {
       margin: 10px auto;
   }

   .social-map {
       width: 90%;
       height: 100%;
       margin: 50px auto;
   }
}