<section class="content">
    <p class="title-clothes">Detalles de la compra</p>
    <hr class="hr-main">
    <article class="clothing-container">
        <img src="../../../../assets/img/img-tests.jpg" alt="">

        
        <div class="clothing-details">
      
            <div class="clothing-info">
                <span>Lorem, ipsum dolor.</span>
                <span class="price"><span>Precio:  </span><b>$3000</b></span>     
                <hr class="hr">
            </div>
            

            <div class="clothing-sizes">
                <h4>Talles</h4>
                <ul>
                    <li class="size">L</li>
                    <li class="size">M</li>
                    <li class="size available">S</li>
                    <li class="size">X</li>
                    <li class="size available">XXL</li>
                </ul>
            </div>
            
            <div class="custom-options">
                <a class="btn"><i class="fab fa-whatsapp"></i> Pedir por WhatsApp</a>
                <a class="btn"><i class="far fa-envelope"></i> Pedir por Correo</a>
            </div>
      
        </div>

    </article>
</section>
