.content {
    color: #414A4C;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 850px;
}
 
.title-clothes {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin: 20px 0;
}

.hr-main {
    width: 80%;
    margin:  0 auto;
}

.clothing-container {
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 26px 2px rgba(0,0,0,0.64); 
    box-shadow: 0px 0px 23px 8px rgb(0 0 0 / 5%);
    display: flex;
    margin: auto;
    height: 80%;
    width: 80%;
}

img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    object-fit: fill;
    max-width: 55%;
}

.clothing-details {
    align-content: space-between;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;       
    padding: 20px;
    width: 45%;
} 

.clothing-info, .clothing-sizes, .custom-options {
    height: 33%;
    width: 100%;
}

.clothing-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clothing-info, h4 {
    margin-bottom: 0;
    width: 100%;
    height: 20%;
}

.clothing-info .price {
    margin: 10px 0 20px 0;
}

.clothing-info .price span {
    display: inline;
}

.clothing-sizes {
    align-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.clothing-sizes h4{
    display: inline-block;
    font-size: 20px;
}


.clothing-details .clothing-info {
    font-size: 20px;
}

.clothing-details {
    min-height: 160px;
}

.clothing-details .clothing-sizes .price{
    font-size: 20px;
    padding-left: 10px;
}

.clothing-details .clothing-sizes ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.clothing-sizes ul li, .clothing-sizes ul .available {
    padding: 7px;
    font-size: 20px;
}

.clothing-sizes ul .available { 
    border-radius: 10px;
    cursor: pointer;
    transition: background 300ms;
}

.clothing-sizes ul .available:hover {
    background-color: #ff877a;
    color: white;
    transition: background 300ms;
}

.clothing-sizes ul .size-clicked {
    background-color: #ff877a;
    color: white;
}

.clothing-sizes ul .unavailable {
    color: #ccc;
}

.hr {
    width: 60%;
    border-bottom: rgba(179, 175, 175, 0.664) 1px solid;
    margin: 0 auto;
}

.custom-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.clothing-details .custom-options .btn {
    border: none; 
    border-radius: 5px;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: all 300ms;
    padding: 20px;
    width: 80%;
}

.clothing-details .custom-options .btn:nth-of-type(1) {
    background-color: #4caf50;
    margin-bottom: 20px;
}

.clothing-details .custom-options .enabled:nth-of-type(1):hover {
    -webkit-box-shadow: 1px 1px 24px 6px rgba(76,175,80,0.43); 
    box-shadow: 1px 1px 24px 6px rgba(76,175,80,0.43);
    transition: box-shadow 300ms;
}

.hidden {
    visibility: hidden;
}

.clothing-details .custom-options .btn:nth-of-type(2) {
    background-color: #ce493b;
}

.clothing-details .custom-options .enabled:nth-of-type(2):hover {
    -webkit-box-shadow: 1px 1px 24px 6px rgba(206,73,59,0.43); 
    box-shadow: 1px 1px 24px 6px rgba(206,73,59,0.43);
    transition: box-shadow 300ms;
}

.mercadopago-button {
    width: 79.7%;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    padding: 5px 20px;
    transition: box-shadow 300ms;
}

.mp-enabled:hover {
    -webkit-box-shadow: 1px 1px 24px 6px #5bc2eec2; 
    box-shadow: 1px 1px 24px 6px #5bc2eec2;
    transition: box-shadow 300ms;
}

.enabled {
    cursor: pointer;
}

.disabled {
    cursor: initial;
    opacity: 0.5;
    transition: opacity 300ms;
}

@media screen and (max-width:900px) {
    .clothing-container {
        min-height: 950px;
        width: 80%;
        flex-direction: column;
        margin: 30px auto;
    }

    img {
        width: 100%;
        height: 30%;
        padding: 14px;
        margin: auto;
        border-radius: 10px 10px 0 0;
    }

    .clothing-details {
        height: 70%;
        width: 90%;
        margin: auto;
        border: none;
    }
}

@media screen and (max-width: 500px) {   
    .content {
        margin: 0 auto;
    }
    
    .clothing-container {
        min-height: 850px;
        height: 100%;
        width: 80%;
        margin: 20px auto 20px auto;
    }
    .clothing-details {
        justify-content: center;
    }

    .clothing-info {
        height: auto;
    }

    .clothing-sizes, .custom-options {
        width: 100%;
    }
    
    .clothing-sizes {
        justify-content: inherit;
        margin: 40px auto;
    }

    .clothing-sizes ul {
        margin: 20px auto;
    }

    .custom-options {
        margin: auto;
    }

    .clothing-info span, .clothing-info .price {
        font-size: 17px;
        margin-bottom: 10px;
    }
    
    .clothing-sizes h4 {
        font-size: 20px;
    }
    
    .clothing-sizes ul .size {
        font-size: 15px;
    }
    
}