<section class="content">
    <p class="title-clothes">Detalles de la compra</p>
    <hr class="hr-main">
    <app-spinner *ngIf="!PageReady" style="margin-top: 100px;"></app-spinner>

    <article class="clothing-container" *ngIf="clothesRef" [class.hidden]="!PageReady">

            <img [src]="clothesRef.img.path" alt="">
            
            <div class="clothing-details">
            
                <div class="clothing-info">
                    <span>{{clothesRef.name}}</span>
                    <span class="price"><span>Precio: </span><b>{{clothesRef.price | currency:'AR$'}}</b></span>
                </div>
                <hr class="hr">
            
                <div class="clothing-sizes">
                    <h4>Talles disponibles:</h4>
                    <ul>
                        <li 
                          *ngFor="let s of sizes; let i = index"
                          (click)="sizeClicked(s, elSize)"
                          [class]="s.opAvailable ? 'size available' : 'size unavailable' "
                          #elSize
                        >{{s.size}}</li>
                    </ul>
                </div>
                
                <div class="custom-options">
                    <button class="btn" [class.disabled]="!elSizeClicked" [class.enabled]="elSizeClicked" [disabled]="!elSizeClicked"><i class="fab fa-whatsapp"></i> Pedir por WhatsApp</button>
                    <button class="btn" [class.disabled]="!elSizeClicked" [class.enabled]="elSizeClicked" [disabled]="!elSizeClicked"><i class="far fa-envelope"></i> Pedir por Correo</button>
                    <button [class.disabled]="!elSizeClicked" [class.enabled]="elSizeClicked" [disabled]="!elSizeClicked" #mercadopago class="mercadopago-button mp-enabled"></button>
                </div>
            
            </div>
    </article>
</section>
