<div class="container">
    
    <div class="footer-container">
        <div class="footer-social">
            <a [href]="socialF" class="footer-item" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
        
            <a [href]="socialI" class="footer-item" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        
            <a [href]="socialW" target="_blank" class="footer-item">
                <i class="fab fa-whatsapp"></i>    
            </a>
        
            <a [href]="socialG" class="footer-item" target="_blank">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        
        <div class="footer-signature">
            <p><span  class="stamp">FZ INDUMENTARIA</span>, Jujuy 840.</p>
            <p>Resistencia, Chaco. Argentina</p>
        </div>
    </div>

    <div class="my-signature-container">
        <p class="my-signature">&copy; <em><a href="https://www.linkedin.com/in/elian-arismendi/" target="_blank">Elian Arismendi.</a></em></p>
    </div>

</div>